.carousel {
    display: flex;
    background: url(../img/carousel/backgraund.png);
    width: 1440px;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 58px;
  }
  
  .carousel__gallery {
    display: flex;
   gap: 30px;
  
  }
  .carousel__gallery-element {
    box-sizing: border-box;
    display: inline-block;
    Width: 340px;
    Height: 458px;
    background: #FFFFFF;
    padding: 0 57px 0 59px;
    box-shadow: 0px 23px 34px 0px #2339372B;
    border-radius: 25px;
    
  }
  
  .carousel__btn-one {
    width: 21px;
    height: 38px;
    border: 0;
    background-image: url('../img/carousel/arrow2.png');
    background-size: cover;
    background-color: #f5f7f7;
    
  }
  .carousel__btn-two {
    width: 21px;
    height: 38px;
    border: 0;
    background-image: url('../img/carousel/arrow1.png');
    background-size: cover;
    background-color: #f5f7f7;
  }
  
  .carousel__btn-element{
    width: 235px;
    height: 54px;
    background: #2D635E;
    font-family: George Round;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
  }
  .carousel__title {
  font-family: Josefin Sans;
  font-size: 28px;
  line-height: 28px;
  margin-top: 40px;
  }
  .carousel__paragraph {
    height: 216px;
    margin: 0 0 47px 0;
  font-family: AlegreyaSans;
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.001em;
  }
  
  
  @media (max-width: 375px) {
    .carousel {
      display: flex;
      background: #FFFFFF;
      width: auto;
      height: 1440px;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .carousel__gallery  {
      box-sizing: border-box;
      flex-direction: column;
    }
  
    .carousel__gallery-element {
      box-sizing: border-box;
      width: 339px;
      height: 458px;
      padding: 0 47px 0 49px; 
    }
  
    .carousel__btn-one {
      display: none;
      
    }
    .carousel__btn-two {
      display: none;
    }
  }