.content {
  display: inline-flex;
  align-items: flex-end;
  margin: 123px 192px 0 117px;
  margin-bottom: 109px;
}

.content__main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content__main-paragraph {
  font-family: "Cedarville Cursive";
  font-weight: 400;
  font-size: 28px;
}

.content__title {
  font-family: "Josefin_Sans";
  font-weight: 700;
  font-size: 63px;
}

.content__btn-right {
  width: 159px;
  height: 157px;
  background-image: url("../img/content/vector_right.svg");
  background-color: #e3ebe7;
  opacity: 0.4;
  background-position: center;
  background-repeat: no-repeat;
}

.content__picture {
  width: 410px;
  height: 466px;
  background-color: #e3ebe7;
}

.content__picture-coffee {
  width: 344px;
  height: 373px;
  padding-left: 40px;
  padding-top: 140px;
}

.content__btn-element {
  width: 235px;
  height: 54px;
  background: #2d635e;
  font-family: "George Round";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}

.content__picture-coffee:hover {
  transform: scale(1.1);
}

.content__btn-right:hover {
  transform: scale(1.1);
}

@media (max-width: 375px) {
  .content__btn-right {
    display: none;
  }

  .content__picture {
    display: none;
  }

  .container-name {
    font-family: "Cedarville Cursive", sans-serif;
    font-weight: 400;
    width: auto;
    font-size: 19px;
    text-align: center;
  }

  .content__title {
    font-family: "Josefin_Sans", sans-serif;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
  }

  .content__main-paragraph {
    font-family: "Cedarville Cursive";
    font-weight: 400;
    font-size: 19px;
    text-align: center;
  }

  .content {
    margin: 150px 0 0 0;
    width: 100%;
  }

  .content__btn-element {
    width: 189px;
    height: 53px;
    background-image: url("../img/content/Vector_wihte.svg");
    background-position: right;
    background-repeat: no-repeat;
  }

  .content__main {
    align-items: center;
  }

}