.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.content__main {
  padding-bottom: 150px;
  padding-right: 200px;
  padding-left: 80px;
}

.content__main-paragraph {
  font-family: Cedarville Cursive;
  font-weight: 400;
  font-size: 28px;
}

.content__title {
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 63px;
}

.content__btn-right {
  width: 159px;
  height: 157px;
  background-image: url("../img/content/vector_right.svg");
  background-color: #e3ebe7;
  opacity: 0.4;
  background-position: center;
  background-repeat: no-repeat;
}

.content__picture {
  width: 410px;
  height: 466px;
  background-color: #e3ebe7;
}

.content__picture-coffee {
  width: 344px;
  height: 373px;
  padding-left: 40px;
  padding-top: 140px;
}

.content__btn-element {
  width: 235px;
  height: 54px;
  background: #2d635e;
  font-family: George Round;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}
