@font-face {
    src: url(../fonts/GeorgeRoundedLight/GeorgeRoundedLight.ttf);
    font-family: "George Round"; 
  }
  @font-face {
    src: url(../fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf);
    font-family: "AlegreyaSans"; 
  }
  
  @font-face {
    src: url(../fonts/Josefin_Sans/static/JosefinSans-ExtraLightItalic.ttf);
    font-family: "Josefin_Sans"; 
  }